{{#if theme_settings.show-pay-icons}}
<div class="sprite-pay-icons">
    <div class="pay-icon" id="visa"></div>
    <div class="pay-icon" id="master"></div>
    <div class="pay-icon" id="american"></div>
    <div class="pay-icon" id="verefityVisa"></div>
    <div class="pay-icon" id="securMaster"></div>
    <div class="pay-icon" id="paypal"></div>
    <div class="pay-icon" id="apay"></div>
    <div class="pay-icon" id="gpay"></div>
    <div class="pay-icon" id="indefPay"></div>
</div>
{{/if}}