{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo" id="footer">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading see-you">{{lang 'footer.navigate'}} <span class="marker hide-marker"></span></h3>
                <ul class="footer-info-list hide__block show__this">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h3 class="footer-info-heading see-you">{{lang 'footer.categories'}} <span class="marker"></span></h3>
                <ul class="footer-info-list hide__block">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h3 class="footer-info-heading see-you">{{lang 'footer.brands'}} <span class="marker"></span></h3>
                <ul class="footer-info-list hide__block">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

            {{#if settings.address}}
            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h3 class="footer-info-heading see-you">{{lang 'footer.info'}} <span class="marker"></span></h3>
                <div class="hide__block">
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                {{/if}}
                </div>
            </article>
            {{/if}}

            <article class="footer-info-col last-item" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                <h3 class="footer-info-heading">Follow Us</h3>
                <ul class="social-footer">
                    <li class="social-item"><a href="#" class="social-link"><img src="{{cdn 'img/twitter.png'}}" alt="twitter"></a></li>
                    <li class="social-item"><a href="#" class="social-link"><img src="{{cdn 'img/facebook.png'}}" alt="facebook"></a></li>
                    <li class="social-item"><a href="#" class="social-link"><img src="{{cdn 'img/youtube.png'}}" alt="youtube"></a></li>
                    <li class="social-item"><a href="#" class="social-link"><img src="{{cdn 'img/instagram.png'}}" alt="instagram"></a></li>
                </ul>
            </article>
        </section>
    </div>
    <div class="copyright-footer-row">
        <div class="container">
            <div class="wrap-bot-line">
                <div class="bot-box">
                    {{#if settings.paypal_commerce_credit_message}}
                    <div class="footer-copyright">
                        <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
                    </div>
                    {{/if}}
                    {{#if theme_settings.show_powered_by}}
                        <div class="footer-copyright">
                            <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
                        </div>
                    {{/if}}
                    {{#if theme_settings.show_copyright_footer}}
                        <div class="footer-copyright">
                            <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
                        </div>
                    {{/if}}
                </div>
                <div class="bot-box">
                    {{> components/common/custom-pay-icon}}
                </div>
            </div>
        </div>
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
