<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <h3 class="header-text mobile">FAST & ALWAYS FREE DELIVERY TO MAINLAND UK</h3>
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    <div id="cusromHeader">
        <div class="row-wrap">
            <div class="header-box">
                {{> components/common/navigation}}

                <h3 class="header-text">FAST & ALWAYS FREE DELIVERY TO MAINLAND UK</h3>
                <div class="head-search">
                    {{> components/common/search-box}}
                </div>
                {{#if page_type '===' 'default'}}
                    <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </h1>
                {{else}}
                    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
    {{#if theme_settings.timer_show}}
    {{{region name="header_timer--global"}}}
    {{/if}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
