<form id="quickAdd" action="" onsubmit="return (false)">
    <div class="fild-wrap">
        <div class="fild-part">
            <input class="quick-form-input input-sku" placeholder="Quick add sku" required>
            <input class="quick-form-input input-quantity" placeholder="1" required>
            <input class="button button--primary quick-add-button" type="submit" value="Add to Cart">
            <a class="hide-link"></a>
        </div>
    </div>
</form>