// =============================================================================
// ADD-TO-CART - CSS
// =============================================================================
.custom-add{
    .form-input--incrementTotal{
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        font-family: stencilFontFamily(font_prime);
        padding: 9px 12px;
        width: 3.5rem;
    }
    .form-label--alternate{
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        font-family: stencilFontFamily(font_prime);
        color: #292929;
    }
    .deliver-tetx{
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        font-family: stencilFontFamily(font_prime);
        color: #414141;
        margin-left: 15px;
        max-width: 200px;
        display: inline-block;
        vertical-align: middle;
    }
}