// =============================================================================
// BREADCRUMBS - CSS
// =============================================================================
#breadcrumb{
    .breadcrumbs{
        text-align: left;

        a{
            color: #ECB512;
            font-size: 13px;
            line-height: 19px;
            font-family: stencilFontFamily(font_prime);
        }
        .is-active{

            a{
                color: #292929;
            }
        }
    }
}