// =============================================================================
// BREND-PART (CSS)
// =============================================================================
#brendPrt{
    padding-top: 40px;
}
.brend-title{
    h3{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #414141;
        font-family: stencilFontFamily(body-font);
        letter-spacing: 0.25px;
        padding-bottom: 40px;
        margin: 0;
    }
}
.grid-brand{
    display: grid;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
        row-gap: 19px;
    }
    @include breakpoint("medium") {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5px;
    }
    @include breakpoint("large") {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 21px;
    }
}
.barand-img-box{
    max-width: 359px;
    width: 100%;
    height: 208px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img{
        height: 0;
        width: 0;
    }
}