// =============================================================================
// CUSTOM_HEADER (CSS)
// =============================================================================
#cusromHeader{
    background-color: stencilColor(dark-colour);

    .header-logo{
        margin: 0;
    }
}
.header-box{
    flex-direction: row-reverse;
    padding: 7px 0;
    justify-content: center;
    align-items: center;
    @include breakpoint("xxsmall"){
        display: unset;
    }
    @include breakpoint("medium"){
        display: flex;
    }
}
.logo-title{
    color: #fff;
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}
.countPill{
    background-color: #6FB638;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
}