// =============================================================================
// DESCRIPTION-TABS - CSS
// =============================================================================
.tab-line-description{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    padding: 21px 25px;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.tab-line{
    h3{
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0.25px;
        text-decoration-line: underline;
        color: #414141;
        font-family: stencilFontFamily(body-font);
        margin: 0;
    }
}
.product-text{
    p{
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #292929;
        font-family: stencilFontFamily(font_prime);
    }
    ul{
        padding-left: 4px;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #292929;
        font-family: stencilFontFamily(font_prime);
    }
}
.grid-info{
    display: grid;
    margin-top: 32px;
    margin-bottom: 32px;
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;

    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
    }
    @include breakpoint("medium") {
        grid-template-columns: 2fr 3fr;
    }
    @include breakpoint("large") {
        grid-template-columns: 1fr 4fr;
    }

    .inf-box{
        padding: 5px 0 5px 11px;
        border-right: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;

        &:nth-child(odd){
            background: #F2F2F2;
        }
    }

    p{
        margin: 0;
    }
}