// =============================================================================
// FORM-LOGIN (CSS)
// =============================================================================
.form-wrap{
    background-color: stencilColor(dark-colour);
    height: 100%;
    padding: 16px 26px;
    border-radius: 5px;
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    
    @include breakpoint("medium") {
        padding: 10px;
    }
    @include breakpoint("large") {
        padding: 16px 26px;
    }

    .login-form{
        width: 100%;
    }
    .form-label{
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        font-family: stencilFontFamily(body-font);
    }
    .button--primary{
        background-color: #D5A20C;
        width: 100%;
        border-radius: 4px;
        font-weight: 600;
        font-size: 15px;
        line-height: 14px;
        color: stencilColor(dark-colour);
        font-family: stencilFontFamily(font_prime);
    }
    .forgot-password{
        font-weight: normal;
        line-height: 25px;
        color: #F8F8F8;
        text-decoration: underline;
        font-family: stencilFontFamily(font_prime);

        @include breakpoint("medium") {
            font-size: 12px;
        }
        @include breakpoint("large") {
            font-size: 13px;
        }
    }
    .create-account{
        font-weight: normal;
        line-height: 25px;
        color: #F3B601;
        text-decoration: underline;
        font-family: stencilFontFamily(font_prime);
        

        @include breakpoint("medium") {
            padding-left: 0px;
            font-size: 12px;
        }
        @include breakpoint("large") {
            padding-left: 30px;
            font-size: 13px;
        }
    }
}
.form-title{
    h4{
        margin: 0;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #fff;
        font-family: stencilFontFamily(body-font);
    }
}
.abs-pos{
    position: absolute;
    bottom: 20px;
}
.see-you{
    position: relative;
}
.marker{
    &::after{
        content: '+';
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
    }
    @include breakpoint("xxsmall"){
        display: inline-block;
    }
    @include breakpoint("medium"){
        display: none;
    }
}
.see-you{
    @include breakpoint("xxsmall"){
        cursor: pointer;
    }
    @include breakpoint("medium"){
        cursor: inherit;
    }
}
.hide-marker{
    &::after{
        content: '-';
    }
}
.hide__block{
    @include breakpoint("xxsmall"){
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        height: auto;
        transition: ease 0.7s all;
    }
    @include breakpoint("medium"){
        opacity: 1;
        max-height: unset;
        overflow: visible;
        height: 100%;
    }
}
#footer{
    .footer-info-col{
        @include breakpoint("xxsmall"){
            margin-bottom: 1rem;
        }
        @include breakpoint("medium"){
            margin-bottom: 3rem;
        }
    }
}
.show__this {
    @include breakpoint("xxsmall"){
        max-height: 3500px;
        opacity: 1;
        display: block;
        transition: ease 0.7s all;
        padding-top: 10px;
    }
    @include breakpoint("medium"){
        opacity: 1;
        display: block;
    }
}

