// =============================================================================
// HEADER (CSS)
// =============================================================================
#cusromHeader{
    background-color: stencilColor(dark-colour);

    .header-logo{
        margin: 0;
        @include breakpoint("medium") {
            max-width: 140px;
        }
        @include breakpoint("large") {
            max-width: 100%;
        }
    }
    .header-logo-image-container{
        min-height: unset;
    }
    .countPill{
        background-color: #6FB638;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px;
        @include breakpoint("xxsmall") {
            width: 24px;
            height: 24px;
        }
        @include breakpoint("medium") {
            width: 27px;
            height: 27px;
        }
    }

    .navUser{
        padding: 0;
        width: auto;

        @include breakpoint("xxsmall") {
            top: 72px;
        }
        @include breakpoint("medium") {
            top: unset;
        }
    }
    .header-logo-image{
        @include breakpoint("xxsmall") {
            margin: unset;
        }
        @include breakpoint("medium") {
            top: unset;
        }
    }
}
.navUser-item{
    @include breakpoint("xxsmall") {
        display: block;
    }
    #quickAdd{
        @include breakpoint("xxsmall") {
            display: none;
        }
        @include breakpoint("large") {
            display: block;
        }
    }
    .logo-title{
        @include breakpoint("xxsmall") {
            display: none;
        }
        @include breakpoint("large") {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .login-img{
        @include breakpoint("xxsmall") {
            margin-top: 5px;
        }
    }
    .navUser-item--cart__hidden-s{
        @include breakpoint("xxsmall") {
            display: block;
        }
    }
}
.header-box{
    flex-direction: row-reverse;
    padding: 7px 0;
    align-items: center;
    justify-content: space-between;

    @include breakpoint("xxsmall") {
        display: flex;
        flex-direction: column-reverse;
        align-items: unset;
    }
    @include breakpoint("medium") {
        flex-direction: row-reverse;
        align-items: center;
    }
}
.logo-title{
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    margin-left: 10px;
}
.header-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: stencilColor(primery_color);
    margin: 0;
    font-family: stencilFontFamily(body-font);

    @include breakpoint("xxsmall") {
        display: none;
    }
    @include breakpoint("medium") {
        display: block;
        max-width: 167px;
    }
    @include breakpoint("large") {
        max-width: 100%;
    }
}
.mobile{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    background: stencilColor(primery_color);
    text-align: center;
    padding: 11px 21px;

    @include breakpoint("xxsmall") {
        display: block;
    }
    @include breakpoint("medium") {
        display: none;
    }
}
.head-search{
    .form{
        margin: 0;
        grid-area: form;
    }
    .form-field{
        margin: 0;
    }
    .form-input{
        height: 42px;
        border-radius: 4px 0 0 4px;
        border-color: #ffffff;
        color: #CCCCCC;
        font-size: 13px;
        line-height: 21px;
        font-weight: 200;
        @include breakpoint("medium") {
            width: 180px;
        }
        @include breakpoint("xlarge") {
            width: 272px;
        }
    }
    .button{
        border-radius: 0;
        width: 42px;
        padding: 0;
        color: #000;
        font-size: 1.5rem;
    }
    .button--primary{
        background-color: #F3B601;
        border-color: #F3B601;
        @include breakpoint("xxsmall") {
            border-radius: 0;
        }
        @include breakpoint("medium") {
            border-radius: 0 4px 4px 0;
        }
    }
    .form-prefixPostfix-button--postfix{
        margin: 0;
    }
}
.navUser{
    grid-area: cart;
}
.is-open{
    .navPages-container.is-open{
        padding-top: 155px;
    }
    .navPages-quickSearch{
        display: none;
    }
}
input{
    &:focus{
        outline: unset!important;
    }
}
.header{
    .mobileMenu-toggle{
        .mobileMenu-toggleIcon{
            background: #fff;
            &::after{
                background: #fff;
            }
            &::before{
                background: #fff;
            }
        }
    }
    .is-open{
        .mobileMenu-toggleIcon{
            &::after{
                background-color: #fff!important;
            }
            &::before{
                background-color: #fff!important;
            }
        }
    }
}
