// =============================================================================
// MEINE (CSS)
// =============================================================================
#main-content{
    .container{
        max-width: 1449px;
        padding: 0 10px;
    }
}
[data-sub-layout="6e01b499-4ded-4a24-95e8-89c9722d9562"]{
    padding-left: 0!important;
    padding-right: 0!important;
}