// =============================================================================
// NAV-PAGES (CSS)
// =============================================================================
#customNavPages{
    background-color: #EEEEEE;
    .navPages{
        max-width: 1499px;
        width: 100%;
        margin: 0 auto;

        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
        @include breakpoint("xxsmall"){
            display: block;
            padding: initial;
            padding: 1.5rem;
            background-color: #EEEEEE;
        }
        @include breakpoint("medium"){
            padding: 18px 10px 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .custom-nav_page{
        display: unset;
        .navPages-action{
            color: stencilColor(text_color);
            padding: 0;
            font-weight: 400;
            text-transform: capitalize;

            @include breakpoint("medium"){
                padding-right: 5px;
                font-size: 11px;
                line-height: 20px;
            }
            @include breakpoint("large"){
                font-size: 15px;
                line-height: 25px;
                padding-right: 15px;
            }
        }
    }
    .navPages-list {
        + .navPages-list{
            border-top: unset;
            margin-top: unset;
            padding-top: unset;
        }
    }
}