// =============================================================================
// NEWS - CSS
// =============================================================================
.grid-news{
    column-gap: 21px;
    row-gap: 21px;
    

    @include breakpoint("xxsmall"){
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-bottom: 20px;
        display: block;
    }
    @include breakpoint("large"){
        grid-template-columns: repeat(4, 1fr);
        margin: 0 30px;
        padding-bottom: 50px;
        display: grid;
    }

    a{
        text-decoration: none;
    }
    .grid-news-box{
        padding: 19px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        margin: 0 auto;

        @include breakpoint("xxsmall"){
            margin: 5px;
        }
        @include breakpoint("large"){
            margin: 0 auto;
        }
        
    }
    .news-wrap-img{
        height: 213px;
        max-width: 322px;
        @include cover;

        img{
            height: 0;
            width: 0;
        }
    }
    .body-news-box{
        text-align: center;
    }
    .news-data{
        padding-top: 11px;

        span{
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            color: #959595;
            font-family: stencilFontFamily(font_prime);
        }
    }
    .news-title{
        padding-top: 3px;

        h4{
            margin: 0;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            font-family: stencilFontFamily(body-font);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .news-text{
        padding-top: 5px;

        P{
            font-size: 14px;
            line-height: 21px;
            color: #414141;
            font-family: stencilFontFamily(font_prime);
            margin: 0 auto;
        }
    }
    .slick-arrow{
        background-color: transparent;
        border: none;

        &::before{
            background-image: url('../img/arow.png')
        }
    }
    .slick-next{
        &::before{
            transform: rotate(180deg);
        }
    }
    .slick-dots{
        .slick-active{
            button{
                &::before{
                    background: #F3B601;
                }
            }
        }
    }
}
.title-news{
    text-align: center;

    h2{
        font-family: stencilFontFamily(body-font);
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.25px;
        color: #414141;

        @include breakpoint("xxsmall"){
            margin: 30px 0 35px;
        }
        @include breakpoint("medium"){
            margin: 50px 0 60px;
        }
    }
}
.more-news{
    text-align: center;

    @include breakpoint("xxsmall"){
        padding-top: 30px;
    }
    @include breakpoint("large"){
        padding-top: 0px;
    }
    
    a{
        text-decoration: none;
        color: #448CCB;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        font-family: stencilFontFamily(font_prime);
    }
}
.blog-title{
    font-family: stencilFontFamily(body-font);
}
.blog-post{
    font-family: stencilFontFamily(font_prime);
}