// =============================================================================
// PAGE - CSS
// =============================================================================
.page{
    margin: 0!important;

    @include breakpoint("xxsmall"){
        padding-top: 100px;
    }
    @include breakpoint("medium"){
        padding-top: 0px;
    }

    .page-content{
        width: 100%;
    }
    p{
        font-family: stencilFontFamily(font_prime);
        a{
            color: #dcab1b;
        }
    }
    h4{
        font-family: stencilFontFamily(body-font);
        font-weight: bold;
    }
    .brand{
        a{
            font-family: stencilFontFamily(font_prime);
        }
    }
    #contact-us-page{
        .button{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #000;
            font-family: stencilFontFamily(body-font);
            padding: 9.5px 25px;
            margin: 0;
            background-color: #F3B601;
            border-color: #F3B601;
            border-radius: 4px;
        }
    }
}
.form-actions{
    .button{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        font-family: stencilFontFamily(body-font);
        padding: 9.5px 25px;
        margin: 0;
        background-color: #F3B601;
        border-color: #F3B601;
        border-radius: 4px;
    }
}
.panel{
    .button{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        font-family: stencilFontFamily(body-font);
        padding: 9.5px 25px;
        margin: 0;
        background-color: #F3B601;
        border-color: #F3B601;
        border-radius: 4px;
    }
}
