// =============================================================================
// PAYMENT-ICONS (CSS)
// =============================================================================
.sprite-pay-icons{
    position: relative;
}
.pay-icon{
    background-image: url('../img/pay-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 22px;
}
#visa{
    height: 27px;
    background-position: 0px 0px;
    width: 47px;
}
#master{
    height: 27px;
    background-position: -64px 0px;
    width: 34px;
}
#american{
    height: 27px;
    background-position: -118px 0px;
    width: 33px;
}
#verefityVisa{
    height: 27px;
    background-position: -172px 0px;
    width: 45px
}
#securMaster{
    height: 27px;
    background-position: -239px 0px;
    width: 47px;
}
#paypal{
    height: 27px;
    background-position: -239px 0px;
    width: 47px;
}
#apay{
    height: 27px;
    background-position: -308px 0px;
    width: 46px;
}
#gpay{
    height: 27px;
    background-position: -437px 0px;
    width: 39px;
}
#indefPay{
    height: 27px;
    background-position: -496px 0px;
    width: 21px;
    margin-right: 0px;
}
