// =============================================================================
// PRICE - CSS
// =============================================================================
#newProductLine{
    .price-now-label{
        display: none;
    }
    .non-sale-price--withTax{
        color: #EE3339;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        font-family: stencilFontFamily(body-font);
        padding-bottom: 8px;

        :first-child{
            padding-right: 25px;
        }
    }
    .price-section--withTax{
        padding-bottom: 8px;

        .price--withTax{
            font-size: 25px;
            line-height: 25px;
            color: #414141;
            padding-right: 25px;
        }
        abbr{
            text-decoration: none;
            color: #414141;
        }
    }
    .price-section--withoutTax{
        color: #959595;
        
        abbr{
            text-decoration: none;
        }
        .price--withoutTax{
            padding-right: 25px;
        }
    }
}