// =============================================================================
// PRODUCT-VIEW - CSS
// =============================================================================
#Product{
    @include breakpoint("xxsmall") {
        padding-top: 100px;
        ol{
            &.breadcrumbs{
                display: block;
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
    @include breakpoint("medium") {
        padding-top: 0px;
    }
    .socialLinks{
        .icon{
            svg {
                fill: rgba(65, 65, 65, 0.63);
            }
        }
    }
    .productView-options{
        .form-action{
            display: block;
            width: 100%;
            float: unset;
            margin: 0;

            .button{
                @include breakpoint("xxsmall") {
                    width: 100%;
                }
                @include breakpoint("large") {
                    width: 50%;
                    max-width: 320px;
                }
            }
        }
    }
    #form-action-addToCart{
        border: 1px solid #F3B601;
        box-sizing: border-box;
        border-radius: 4px;
        background: #F3B601;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #253039;
        font-family: stencilFontFamily(font_prime);
    }
}
#customProduct{
    margin-left: 0;
    margin-right: 0;

    .productView-brand{
        margin: 0;

        a{
            color: #959595;
            text-decoration: none;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            font-family: stencilFontFamily(body-font);
            text-transform: uppercase;
            padding-bottom: 3px;
            letter-spacing: 0.25px;
        }
    }
    .productView-title{
        margin-top: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        font-family: stencilFontFamily(body-font);
        letter-spacing: 0.25px;
        text-decoration-line: underline;
        color: #414141;
        padding-bottom: 11px;
    }
    .productView-rating{
        padding-bottom: 11px;

        .rew-text{
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            font-family: stencilFontFamily(body-font);
            color: #414141;
        }
    }
    .productView-reviewLink{
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        color: #ECB512;
        font-family: stencilFontFamily(font_prime);
    }
    .productView-info{
        margin: 0;
        padding-bottom: 27px;
        .productView-info-value{
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            color: #959595;
            font-family: stencilFontFamily(body-font);
            margin: 0;
        }
    }
    .sale-badge{
        background: #EE3339;
        border-radius: 0px;
        text-transform: uppercase;
        color: #fff;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-transform: uppercase;
        font-family: stencilFontFamily(body-font);
        padding: 3px 7px;
        display: inline-block;
        margin-bottom: 11px;
    }
    .non-sale-price--withTax{
        span{
            font-family: stencilFontFamily(body-font);
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            color: #EE3339;
            margin-bottom: 5px;
        }
    }
    .price-section--withTax{
        display: flex;
        font-size: 25px;
        line-height: 25px;
        color: #414141;
        margin-bottom: 15px;

        .price-now-label{
            display: none!important;
        }
        .price--withTax{
            margin-right: 5px;
        }
        abbr{
            text-decoration: none;
        }
    }
    .price-section--withoutTax{
        display: flex;
        font-size: 17px;
        line-height: 21px;
        color: #959595;
        margin-bottom: 5px;
        
        .price-now-label{
            display: none!important;
        }
        .price--withoutTax{
            padding-right: 5px;
        }
        abbr{
            text-decoration: none;
        }
    }
    .non-sale-price--withoutTax{
        display: none!important;
    }
    .productView-product{
        border: none;
        padding-bottom: 0;
    }
    .productView-details{
        padding-bottom: 1rem;
    }
    .form-field{
        @include breakpoint("xxsmall") {
            text-align: left;
        }
        @include breakpoint("medium") {
            text-align: unset;
        }
        .form-label--alternate{
            font-weight: bold;
            font-size: 12px;
            line-height: 19px;
            font-family: stencilFontFamily(font_prime);
            color: #292929;
    
            small{
                color: #959595;
            }
        }
    }
    .form-label{
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        font-family: stencilFontFamily(font_prime);
        color: #414141;
    }
}