// =============================================================================
// SETTING (CSS)
// =============================================================================

@mixin cover {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}