// =============================================================================
// TILE-PART (CSS)
// =============================================================================
#tileHead{
    @include breakpoint("xxsmall") {
        padding-top: 96px;
    }
    @include breakpoint("medium") {
        padding-top: 0px;
    }
    .grid-tile{
        display: grid;

        @include breakpoint("xxsmall") {
            grid-template-columns: 1fr;
            row-gap: 21px;
        }
        @include breakpoint("medium") {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5px;
        }
        @include breakpoint("large") {
            grid-template-columns: 1.5fr 1.5fr 1fr;
            column-gap: 21px;
        }

        .tile-bg-image{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content-tile-wrap{
            text-align: center;
        }
        .tile-title{
            h3{
                font-weight: bold;
                font-size: 28px;
                line-height: 42px;
                letter-spacing: 0.25px;
                color: #F8F8F8;
                font-family: stencilFontFamily(body-font);
            }
        }
        .tile-text{
            p{
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #F8F8F8;
                font-family: stencilFontFamily(font_prime);
            }
        }
        .tile-button{
            padding-top: 30px;
            a{
                border-radius: 4px;
                border: 1px solid #F3B601;
                background-color: stencilColor(primery_color);
                font-weight: 600;
                font-size: 15px;
                line-height: 14px;
                color: stencilColor(dark-colour);
                padding: 8px 44px;
                font-family: stencilFontFamily(font_prime);
                text-decoration: none;
            }
        }
    }
}
.grid-tile-bot{
    display: grid;

    @include breakpoint("xxsmall") {
        display: none;
    }
    @include breakpoint("medium") {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        padding-top: 5px;
    }
    @include breakpoint("large") {
        column-gap: 21px;
        padding-top: 21px;
    }
}
.tile-bg-image{
    max-width: 550px;
    @include cover;

    @include breakpoint("xxsmall") {
        height: 288px;
    }
    @include breakpoint("medium") {
        height: 423px;
    }

    >img{
        height: 0;
        width: 0;
    }
}
.bot-wrap-image{
    max-width: 487px;
    height: 199px;
    @include cover;
    
    @include breakpoint("medium") {
        padding: 10px;
    }
    @include breakpoint("large") {
        padding: 30px;
    }

    >img{
        height: 0;
        width: 0;
    }
    .bot-title h3{
        margin: 0;
        font-family: stencilFontFamily(body-font);
        letter-spacing: 0.25px;
        color: #FFFFFF;

        @include breakpoint("medium") {
            font-size: 21px;
            line-height: 36px;
        }
        @include breakpoint("large") {
            font-size: 27px;
            line-height: 42px;
        }
    }
    .bot-text{
        p{
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
            font-family: stencilFontFamily(font_prime);
        }
    }
    .bot-logo-img{
        display: flex;
        align-self: center;
        align-items: center;
        a{
            padding-right: 15px;
        }
    }
}
#mobilePart{

    @include breakpoint("xxsmall") {
        margin-top: 48px;
    }
    @include breakpoint("medium") {
        margin-top: 0px;
    }

    .grid-tile-bot{
        @include breakpoint("xxsmall") {
            display: grid;
            row-gap: 16px;
        }
        @include breakpoint("medium") {
            display: none;
        }
    }
    .bot-wrap-image{
        @include breakpoint("xxsmall") {
            padding: 30px 20px;
        }
    }
}
