// =============================================================================
// TIMER (CSS)
// =============================================================================
#timer{
    background-color: stencilColor(primery_color);
    @include breakpoint("xxsmall") {
        display: none;
    }
    @include breakpoint("large") {
        display: block;
    }
}
.timer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 7px 0;
}
#rootMy{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.row-wrap{
    max-width: 1449px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.cell{
    display: inline-block;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #000;
    width: 27px;
    padding: 5px 5px;
    margin: auto 2px;
    height: 28px;
    border-radius: 7px;
    font-family: stencilFontFamily(font_prime);
}
.cell-wrap{
    text-align: center;
}
.cell-title{
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: stencilFontFamily(font_prime);
}
.title__timer{
    display: flex;
    justify-content: right;
    padding-right: 30px;
    align-self: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    font-family: stencilFontFamily(font_prime);
}
.close-icon{
    cursor: pointer;
}
.close-timer{
    display: flex;
    justify-content: left;
    padding-left: 60px;
    align-self: center;
    color: #000;
}
.none{
    display: none!important;
}
