---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
products:
    new:
        limit: {{theme_settings.product_new_products_count}}
    featured:
        limit: {{theme_settings.product_featured_products_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}
<div id="Product">
    {{> components/custom/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div itemscope itemtype="https://schema.org/Product">
        {{> components/product-custom/product-view schema=true }}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{#if products.featured}}
            {{> components/product-custom/featured-c products=products.featured columns=theme_settings.product_featured_products_count}}
        {{/if}}
        {{#if products.new}}
            {{> components/product-custom/new-product products=products.new columns=theme_settings.product_new_products_count}}
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
