<div class="form-title">
    <h4>Sign in for a better shopping experience</h4>
</div>
<form class="login-form form" action="{{urls.auth.check_login}}" method="post">
    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
    {{inject 'enterPass' (lang 'forms.validate.common.password')}}
    <div class="form-field">
        <label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
        <input class="form-input" name="login_email" id="login_email" type="email">
    </div>
    <div class="form-field">
        <label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
        <input class="form-input" id="login_pass" type="password" name="login_pass" autocomplete="off">
    </div>
    <div class="form-actions">
        <input type="submit" class="button button--primary" value="{{lang 'login.submit_value' }}">
    </div>
    <div class="form-field">
        <div class="abs-pos">
            <a class="forgot-password" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
            <a class="create-account" href="/login.php?action=create_account">Create Account</a>
        </div>
    </div>
</form>
