<div class="news-row">
    <div class="title-news">
        <h2>Latest News</h2>
    </div>
    <div class="grid-news">
        {{#each (limit blog.recent_posts 4)}}
            <div class="grid-news-box">
                <a href="{{this.url}}">
                    <div class="news-wrap-img" style="background-image: url({{getImage thumbnail}});">
                        <img src="{{getImage thumbnail}}" slt="{{this.thumbnail.alt}}">
                    </div>
                    <div class="body-news-box">
                        <div class="news-data">
                            <span>{{this.date_published}}</span>
                        </div>
                        <div class="news-title">
                            <h4>{{this.title}}</h4>
                        </div>
                        <div class="news-text">
                            <p>{{this.summary}}...</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    <div class="more-news">
        <a href="/news">View All Articles</a>
    </div>
</div>