<div id="tileHead">
    <div class="tile-tile">
        <div class="grid-tile">
            <div class="tile-box">
                <div class="tile-bg-image" style="background-image: url({{cdn 'img/hp-ink-cartidge-banner.jpg'}});">
                    <img src="{{cdn 'img/hp-ink-cartidge-banner.jpg'}}" alt="hp-ink" />
                    <div class="content-tile-wrap">
                        <div class="tile-logo-wrap">
                            <img src="{{cdn 'img/hp-logo.png'}}" alt="hp-logo">
                        </div>
                        <div class="tile-title">
                            <h3>304 Ink Cartridges</h3>
                        </div>
                        <div class="tile-text">
                            <p>High quality printing for a low price</p>
                        </div>
                        <div class="tile-button">
                            <a href="#" target="_blank">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-box">
                <div class="tile-bg-image" style="background-image: url({{cdn 'img/canon-ink-cartridge-banner.jpg'}});">
                    <img src="{{cdn 'img/canon-ink-cartridge-banner.jpg'}}" alt="canon-ink" />
                    <div class="content-tile-wrap">
                        <div class="tile-logo-wrap">
                            <img src="{{cdn 'img/canon-logo.png'}}" alt="canon-logo">
                        </div>
                        <div class="tile-title">
                            <h3>Lorem ipsum dolor</h3>
                        </div>
                        <div class="tile-text">
                            <p>High quality printing for a low price</p>
                        </div>
                        <div class="tile-button">
                            <a href="#" target="_blank">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-box">
                <div class="form-wrap">
                    {{> components/custom/form-login }}
                </div>
            </div>
        </div>
        {{> components/custom/tile-part-bottom }}
    </div>
</div>
