<div class="grid-tile-bot">
    <div class="tile-box">
        <div class="bot-wrap-image" style="background-image: url({{cdn 'img/free-delivery-noverlay.jpg'}});">
            <img src="{{cdn 'img/free-delivery-noverlay.jpg'}}" alt="free-delivery">
            <div class="content-tile-wrap-bot">
                <div class="bot-title">
                    <h3>Fast & Always Free Delivery & Returns</h3>
                </div>
                <div class="bot-text">
                    <p>Count on us to delivery</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-box">
        <div class="bot-wrap-image" style="background-image: url({{cdn 'img/fast-checkout-noverlay.jpg'}});">
            <img src="{{cdn 'img/fast-checkout-noverlay.jpg'}}" alt="fast-checkout">
            <div class="content-tile-wrap-bot">
                <div class="bot-title">
                    <h3>Fast & Secure Checkout</h3>
                </div>
                <div class="bot-text">
                    <p>An easier way to order</p>
                </div>
                <div class="bot-logo-img">
                    <a href="" target="_blank"><img src="{{cdn 'img/apple.png'}}" alt="appel-pay"></a>
                    <a href="" target="_blank"><img src="{{cdn 'img/Vector.png'}}" alt="paypal"></a>
                    <a href="" target="_blank"><img src="{{cdn 'img/amazon.png'}}" alt="amazon"></a>
                    <a href="" target="_blank"><img src="{{cdn 'img/gpay.png'}}" alt="google-pay"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-box">
        <div class="bot-wrap-image" style="background-image: url({{cdn 'img/shop-business-noverlay.jpg'}});">
            <img src="{{cdn 'img/shop-business-noverlay.jpg'}}" alt="shop-business">
            <div class="content-tile-wrap-bot">
                <div class="bot-title">
                    <h3>Shop for Business with VAT receipts, easy re-ordering and procurement lists.</h3>
                </div>
                <div class="bot-text">
                    <p>Ideal for businesses</p>
                </div>
            </div>
        </div>
    </div>
</div>