<article
    class="card
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}"
    {{/if}}>
    <figure class="card-figure">
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=(lang "page_builder.pdp_sale_badge_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=theme_settings.pdp_sale_badge_label
                    }}
                {{/if}}
            {{/or}}
        {{/if}}
        <a href="{{url}}"
           class="card-figure__link"
           aria-label="{{name}},{{> components/products/product-aria-label}}"
           {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>
    </figure>
    <div class="card-body">
        {{> components/products/bulk-discount-rates}}
        {{#if price.sale_price_without_tax}}
            <div class="sale-badge">Sale</div>
        {{/if}}
        <div class="product-row">
            <div class="advanced-info-card">
                {{#if brand.name}}
                    <p class="card-text brand-text" data-test-info-type="brandName"><span>{{brand.name}}</span> {{#if sku}}| SKU: {{sku}}{{/if}}</p>
                {{/if}}
            </div>
            <h3 class="card-title">
                <a aria-label="{{name}},{{> components/products/product-aria-label}}"
                    href="{{url}}"
                    {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
                >
                    {{name}}
                </a>
            </h3>
            <div class="raiting">
                <p class="card-text" data-test-info-type="productRating">
                    <span class="rating--small">
                        {{> components/products/ratings rating_target=name rating=rating}}
                    </span>
                </p>
            </div>
        </div>
        <div class="product-row price-row">
            <div class="card-text" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/product-custom/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </div>
        <div class="product-row">
            <div class="deliver-mes">
                <p>Next working day dispatch, FREE 1st Class Delivery</p>
            </div>
        </div>
        <div class="product-row no-line">
            <div class="product-bot">
                <div class="bot-line">
                    <div class="bot-box">
                        <div class="quant">
                            <label class="label-quant">Quantity</label>
                            <input class="input-quat" placeholder="1">
                        </div>
                        <div class="add-card">
                            <a href="{{#if add_to_cart_url}}{{add_to_cart_url}}{{else}}{{url}}{{/if}}" data-event-type="product-click" data-button-type="add-cart" class="button button--small card-figcaption-button">{{#if add_to_cart_url}}{{lang 'products.add_to_cart'}}{{else}}Choose Option{{/if}}</a>
                            <span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                        </div>
                    </div>
                </div>
                <div class="bot-line">
                    <div class="add-wish">
                        <a data-wishlist class="button" href="/wishlist.php?action=addwishlist&product_id={{id}}">Add to Your List <img src="{{cdn 'img/list-icon.png'}}" alt="list"></a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</article>
