<div class="product-line">
    <ul id="newProductLine" class="productGrid productGrid--maxCol{{ columns }} mobile-slide" data-product-type="New Products" {{#if settings.data_tag_enabled}} data-list-name="Featured Products" {{/if}}>
        {{#each products}}
            <li class="product">
                    {{>components/product-custom/card-c settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </li>
        {{/each}}
    </ul>
</div>