
<div class="tab-line-description">
    {{#if product.description}}
    <div class="tab-line product-description">
        <h3>{{lang 'products.description'}}</h3>
        <div class="product-text">
            <p>
                {{{product.description}}}
            </p>
        </div>
    </div>
    {{/if}}
    <div class="tab-line product-add-info">
        <h3>Extra information</h3>
        <div class="product-text">
            <div class="grid-info">
                <div class="inf-box"><p>Brand:</p></div>
                <div class="inf-box"><p>{{product.brand.name}}</p></div>
                <div class="inf-box"><p>{{product.brand.name}} 300 Black Ink Cartridge:</p></div>
                <div class="inf-box"><p>4.5ml</p></div>
                <div class="inf-box"><p>{{product.brand.name}} 300 Colour Ink Cartidge:</p></div>
                <div class="inf-box"><p>6.5ml</p></div>
                <div class="inf-box"><p>{{product.brand.name}} 300XL Black Ink Cartridge:</p></div>
                <div class="inf-box"><p>13.5ml</p></div>
                <div class="inf-box"><p>{{product.brand.name}} 300XL Colour Ink Cartridge:</p></div>
                <div class="inf-box"><p>15.5ml</p></div>
            </div>
        </div>
    </div>
    <div class="tab-line product-add-info">
        <h3>Warranty Information</h3>
        <div class="product-text">
            <p></p>
            <p>
                1 Year Manufacturers Warranty
            </p>
        </div>
    </div>
</div>
